/* ==========================================================================
 # Variables (CSS)
========================================================================== */

:root {

  /* Basic colors
  ----------------------------------------------- */

  --color-primary:          #213F99;
  --color-primary-dark:     #DA2028;
  --color-primary-alt:      #FBB133; 

  --color-black:            hsl(0, 0%, 0%);
  --color-grey-dark:        hsl(0, 0%, 30%);
  --color-grey:             hsl(0, 0%, 70%);
  --color-grey-light:       hsl(0, 0%, 85%);
  --color-grey-extra-light: hsl(0, 0%, 96.5%);
  --color-white:            hsl(0, 0%, 100%);

  /* Context colors
  ----------------------------------------------- */

  --color-text:             hsl(0, 0%, 15%);
  --color-text-light:       hsl(0, 0%, 45%);

  --color-link:             var(--color-primary);
  --color-border:           var(--color-primary);

  --color-success:          #98C93C;
  --color-error:            #D95757;

  /* Typography
  ----------------------------------------------- */

  --font-weight-heavy:  900;
  --font-weight-extrabold: 800;
  --font-weight-bold:   700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light:  300;

  // --font-default: "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  // --font-title: "Bebas Kai";
  --font-title: "Bebas Kai";
  --font-default: "Montserrat", sans-serif;

  /* Import Fonts Locally
----------------------------------------------- */

  @font-face {
    font-family:"Bebas Kai";
    font-weight: 400;
    src:url("../fonts/BebasKai_regular.woff2") format("woff2"),url("../fonts/BebasNeue_regular.woff") format("woff");
  }

  /* Spacing
  ----------------------------------------------- */

  --spacing-xl:   6rem;
  --spacing-l:    3rem;
  --spacing-m:    1.5rem;
  --spacing-s:    1rem;
  --spacing-xs:   .75rem;
  --spacing-xxs:  .5rem;

  --width-xl:     90rem; // 1440
  --width-l:      76rem; // 1216
  --width-m:      50rem; // 800
  --width-s:      40rem; // 640

  --width-content-m: var(--width-m);

}
