/* ==========================================================================
 elements / blocks / blocks-logowall
========================================================================== */
@import '../../../../assets/styles/utils.scss';

/* Variables
----------------------------------------------- */
:root {
  --logowall-columns-gap:  1rem;
  --logowall-border-color: var(--color-grey-light);
}

/* Back-end & Front-end
----------------------------------------------- */
.logowall {
  &__list {
    @include list-reset;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--logowall-columns-gap);

    &.columns {
      &--3 {
        .logo {
          @include breakpoint($breakpoint-s) {
            width: calc((100% - var(--logowall-columns-gap) * 2) / 3);
          }
        }
      }
      &--4 {
        .logo {
          @include breakpoint($breakpoint-s) {
            width: calc((100% - var(--logowall-columns-gap) * 2) / 3);
          }
          @include breakpoint($breakpoint-m) {
            width: calc((100% - var(--logowall-columns-gap) * 3) / 4);
          }
        }
      }
      &--5 {
        .logo {
          @include breakpoint($breakpoint-s) {
            width: calc((100% - var(--logowall-columns-gap) * 2) / 3);
          }
          @include breakpoint($breakpoint-m) {
            width: calc((100% - var(--logowall-columns-gap) * 3) / 4);
          }
          @include breakpoint($breakpoint-l) {
            width: calc((100% - var(--logowall-columns-gap) * 4) / 5);
          }
        }
      }
      &--6 {
        .logo {
          @include breakpoint($breakpoint-s) {
            width: calc((100% - var(--logowall-columns-gap) * 2) / 3);
          }
          @include breakpoint($breakpoint-m) {
            width: calc((100% - var(--logowall-columns-gap) * 3) / 4);
          }
          @include breakpoint($breakpoint-l) {
            width: calc((100% - var(--logowall-columns-gap) * 4) / 5);
          }
          @include breakpoint($breakpoint-xl) {
            width: calc((100% - var(--logowall-columns-gap) * 5) / 6);
          }
        }
      }
    }
    .logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc((100% - var(--logowall-columns-gap)) / 2);
      &:before {
        @include aspect-ratio(16,10);
        content: '';
        float: left;
      }
      &:after {
        content: '';
        float: right;
        clear: both;
      }

      img {
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* Back-end only
----------------------------------------------- */

.block-editor .wp-block-acf-logowall {

  .logowall-placeholder {
    @include child-margin-reset;
    padding: 1.5rem;
    border: 1px dashed var(--logowall-border-color);
  }

}